/* Stile generale */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Header */

header {
    background-color: #111;
    color: #fff;
    padding: 30px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav li {
    margin-left: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

header nav a:hover {
    border-bottom-color: #fff;
}

header h1 {
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

header p {
    font-size: 24px;
    text-align: center;
}

/* Main */

main {
    margin: 30px;
}

section {
    margin-bottom: 50px;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    line-height: 1.5;
}

section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

section li {
    margin-bottom: 10px;
}

section form {
    margin-top: 30px;
}

section label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

section input[type="text"],
section input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 18px;
    margin-bottom: 20px;
}

section input[type="submit"] {
    background-color: #111;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section input[type="submit"]:hover {
    background-color: #333;
}

/* Media queries */

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
    }

    header nav ul {
        margin-top: 20px;
    }

    header nav li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 36px;
    }

    header p {
        font-size: 20px;
    }

    section h2 {
        font-size: 24px;
    }

    section p {
        font-size: 16px;
    }

    section input[type="text"],
    section input[type="email"] {
        font-size: 16px;
    }

    section input[type="submit"] {
        font-size: 16px;
    }
}
 
body{
	background-image: url('370.jpg');
}